/* Colors */
$mid-violet: hsl(263, 55%, 52%);
$drk-gray-blue: hsl(217, 19%, 35%);
$drk-black-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$lt-gray: hsl(0, 0%, 81%);
$lt-gray-blue: hsl(210, 46%, 95%);
/* Fonts */
$f-family: 'Barlow Semi Condensed', sans-serif;
$f-size: 13px;
$f-weight-reg: 500;
$f-weight-bld: 600;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $f-family;
    font-size: $f-size;
    font-weight: $f-weight-reg;
    background-color: $lt-gray-blue;
}

@for $i from 1 to 6 {
    #{$i} {
        font-weight: $f-weight-bld;
    }
}

article {
    width: 70%;
    margin: 150px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 35px;
    grid-template-areas: "first first second fifth"
                         "third fourth fourth fifth";
    section {
        /* General style */
        border-radius: 12px;
        color: $white;
        padding: 35px;
        .head {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            gap: 1px 10px;
            margin-bottom: 17px;
            width: 150px;
            img {
                width: 29px;
                height: 29px;
                border-radius: 50%;
                grid-row: span 2;
            }
            p:first-of-type {
                color: $lt-gray;
            }
            p:last-of-type {
                color: rgba($lt-gray, 0.5)
            }
        }
        h1 {
            font-size: $f-size + 5px;
            margin-bottom: 17px;
        }
        > p {
            color: rgba($lt-gray, 0.7);
        }
        /* Specified style */
        &:first-of-type, &:nth-of-type(4) {
            .head {
                img{
                    border: 2px solid rgb(164, 121, 229);
                }
            }
        }
        &:first-of-type {
            grid-area: first;
            background-color: $mid-violet;
            background-image: url("../images/bg-pattern-quotation.svg");
            background-repeat: no-repeat;
            background-position: 80% 0;    
        }
        &:nth-of-type(2) {
            grid-area: second;
            background-color: $drk-gray-blue;
        }
        &:nth-of-type(3), &:nth-of-type(5) {
            background-color: $white;
            .head {
                p:first-of-type {
                    color: $drk-gray-blue;
                }
                p:last-of-type {
                    color: rgba($drk-gray-blue, 0.5);
                }
            }
            h1 {
                color: $drk-gray-blue;
            }
            > p:last-child {
                color: rgba($drk-gray-blue, 0.7)
            }
        }
        &:nth-of-type(3) {
            grid-area: third;
        }
        &:nth-of-type(4) {
            grid-area: fourth;
            background-color: $drk-black-blue;
        }
        &:nth-of-type(5) {
            grid-area: fifth;
        }
    }
}
@media (max-width: 1024px) {
    .container {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    article {
        width: 86%;
        margin: 70px 25px;
        display: flex;
        flex-flow: column wrap;
        gap: 20px;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
    a {
    color: $mid-violet;
    }
}
